doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    form(action='/postPhotos', enctype='multipart/form-data method=post')
      input(type='file', name='photo')
      |
      input(type='submit')
      |
  block content
